h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style:;
}
ul{
    background-color: palegoldenrod;
    font-weight: 400;
}
.novacor{
    background-color: palevioletred;
}
#amarelo{
    background-color:yellow;
}
#vermelho{
    background-color:red;
}
#marrom{
    background-color:brown;            
}

p{
    font-weight: 600px;
    font-size: 3em;
}
body{
    font-size: 16px;
}